



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    width: 90%;
    margin: 0 auto;
}
nav ul{
 list-style: none;
 
}
nav ul li{
    background-color: indigo;
    border: 1px solid white;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    float: left;
    transition: .6s;
    position: relative;
}
nav ul li:hover{
    background-color: rgb(219, 36, 12);
   
}
nav ul li a{
    text-decoration: none;
    color: beige;
    font-size: 18px;
    font-weight: 800;
}
nav ul ul{
    display: none;
}

nav ul li:hover>ul{
    display: block;
}
nav ul ul ul{
  margin-left: 150px; 
  position: absolute;
  top: 0;

}